body {
  font-family: "Montserrat";
  text-align: center;
}

#title {
 background-image: url('../images/Untitled-2.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
  color: White;
  text-align: right;
}

.container-fluid {
  padding: 2% 15% 7%;
}

h1 {
  font-family: 'Montserrat-bold';
  font-size: 3.8rem;
  line-height: 1;
  text-align: right;
}

h3 {
  font-family: "Montserrat-bold";
}

p {
  color: #8f8f8f;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 4rem 0 9rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: orange;
}

.downloadbutton {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 5% 12%;
  background-color: white;
  position: relative;
  color:black;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: orange;
  margin-bottom: 1rem;
}
#features p{
  text-align: justify;
  text-justify: inter-word;
   color: black;
}

.Tskills{
  text-align: left;
  margin: auto;
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
}

.Tskills {
  list-style: none; /* Remove default bullets */
}

.Tskills li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: orange; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 1.3rem;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  color:black;
}

.Sskills{
  margin-left: 30px;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}
.en{
  span {
  content: "\2709";
}
.in{
  span {
  content: "\260E";
}
}
}
#testimonials {
  color: black;
  background-color: orange;
}

.col{
  color:orange;
  font-family: 'Montserrat-bold';
  font-size: 1rem;
  /* padding: 0; */
}


.list{
  width:75%;
  padding: 10px 0 20px ;
  margin: auto;
  line-height: 1.6;
}

.carousel-item {
  padding: 1% 15%;
}

#Projects {
  padding: 50px;
}

.lead{
  margin-left: 8%;
  margin-right: 8%;
}

.container{
    margin-top: 8%;
    margin-left: 8%;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

#cta {
  background-color: orange;
  padding: 5% 10% 7%;
}


#footer {
  padding: 7% 15% 5%;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  color: #3B5998;
}

.fa-instagram {
  color: #bc2a8d;
}

.fa-pinterest {
  color: #cb2027;
}

.fa-snapchat-ghost {
  color: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
